
body {
    font-family: Arial, sans-serif;
    background: url('assets/background.jpg') no-repeat center center/cover;
    color: rgb(0, 0, 0);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h3{
    color: white;
    display: flex;
    justify-content: center;
}

/* Contenedor principal */
.container {
    width: 90%;
    max-width: 1200px;
    background: rgba(22, 19, 19, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.search-bar {
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}
.nav-links-contacto{
    margin-left: 700px;
    
}

.nav-links-contacto .nav-btn-contacto  {
    background: transparent;
    border: none;
    color: white;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
    transition: 0.3s;
    text-decoration: none;
}


.nav-links .nav-btn  {
    background: transparent;
    border: none;
    color: white;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
    transition: 0.3s;
    text-decoration: none;
}

.nav-links-contacto .nav-btn-contacto.active,
.nav-links-contacto .nav-btn-contacto:hover {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.nav-links .nav-btn.active,
.nav-links .nav-btn:hover {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}


/* Sección principal */
.main-content {
    padding: 10px;
}

/* Destacado (Película principal) */

.highlight {
    display: flex;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
    color: white;
}

.highlight img{
    width: 200px;
    border-radius: 15px;
}

.highlight-info {
    margin-left: 20px;
}

.highlight-info h2{
    margin: 0;
}

.buttons {
    margin-top: 20px;
    
}

.watch-btn, .download-btn {
    background: white;
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
    font-weight: bold;
    text-decoration: none;
}

/* Recomendaciones */
.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    margin-top: 10px;
}

.movie-card {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 15px;
}

.movie-card img {
    width: 100%;
    border-radius: 10px;
}
/*contacto*/

.form-container{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    margin-left: 75vh;
    
}

form{
    display: flex;
    flex-direction: column;
    
}

label{
    text-align: left;
    margin-top: 15px;
    color: white;
}

input, textarea{
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    outline: none;
}

button{
    margin-top: 15px;
    background: #3498db;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    background: #2980b9;
}

#forMessage {
    margin-top: 10px;
    font-size: 14px;
    color: white;
}